body {
    background-image: url(./madera.webp);
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}
h1{
    color: aqua;
    text-align: center;
    position: sticky;
}
h2{
    text-align: center;
    color: aquamarine;
}

/* Tabla */
table{
    margin-left: auto;
    margin-right: auto;
}

.blanca{
    background-color: beige;
    height: 100px;
    width: 100px;

}
.negra{
    background-color: peru;
    height: 100px;
    width: 100px;
}
.figura{
    height: 100px;
    width: 100px;
}
/*Fluid*/
.fluid{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    float: none;
}
.fluid-blanca{
    background-color: beige;
    height: 100px;
    width: 100px;
    float: left;
}
.fluid-negra{
    background-color: peru;
    height: 100px;
    width: 100px;
    float: left;
}

/* FIXED */
.fixed {
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.fixed-fila {
    display: flex;
}
.fixed-blanca{
    background-color: beige;
    height: 100px;
    width: 100px;
}
.fixed-negra{
    background-color: peru;
    height: 100px;
    width: 100px;
}




/*Flex*/
.flex {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.fila{
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.blanca{
    display: flex;
    background-color: beige;
    width: 100px;
    height: 100px;
    float: left;
}
.negra{
    display: flex;
    background-color: peru;
    width: 100px;
    height: 100px;
    float: left;
}