*{
    box-sizing: border-box;
  }
  .item1 { grid-area: header;}
  .item2 { grid-area: header;  }
  .item3 { grid-area: menu; }
  .item4 { grid-area: menu; }
  .item5 { grid-area: main; }
  .item6 { grid-area: main; }
  .item7 { grid-area: right; }
  .item8 { grid-area: right; }
  .item9 { grid-area: footer; }
  .item10 { grid-area: footer; }

  

  .grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 18% ;
    grid-template-rows: 10vh 75vh 10vh;
    grid-template-areas:
      'header header header header header'
      'menu  main main main right'
      'footer footer footer footer right';
    
    gap: 0.5vw; /*separacion entre los elementos*/
    background-color: peru;
    padding: 10px;
    /*jugango con las alturas de las fila se tiene bastante control de la visualización)*/
     /*grid-template-rows: 20vh 50vh auto; */
  }
  
  .grid-container > div {
    background-color: #C9C3B9;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
  }
  .casilla{
    width: 80px;
    height: 80px;
  }
  .menu{ 
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: solid rgb(255, 154, 53);
    background-color: rgb(255, 203, 152);
    height: 2vh;
  }