h1{
    text-align: center;
}
table{
    border: 10px groove brown;
    margin-left: auto;
    margin-right: auto;
}
.blanca{
    background-color: beige;
    height: 100px;
    width: 100px;
}
.negra{
    background-color: peru;
    height: 100px;
    width: 100px;
}
.figura{
    height: 70px;
    width: 70px;
}