body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: darkblue;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}
hr{
    width: 50%;
}

main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

table th,
table td {
    padding: 10px;
    border: 1px solid black;
}

table th {
    background-color: gray;
    color: white;
}

section {
    text-align: center;
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
}

section {
    background: rgb(255, 245, 245);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    margin-bottom: 2em;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

section p {
    margin-bottom: 15px;
    line-height: 1.8;
    text-align: justify;
}

section p b {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

figure img{
    height: 500px;
    width: auto;
}

ul{
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: rgb(225, 225, 225);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: blue;
}

footer img {
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: black;
}


 
